html,
body {
    min-height: 100%;
}

body {
    width: 100%
}

img {
    border: 0;
}

#site-loading {
    display: none;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.u {
    text-decoration: underline;
}

.askFlash {
    font-family: sans-serif;
    margin-top: 100px;
    text-align: center;
}

.cbel {
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.cb-text {
    font-size: 14px;
}

/* text */

.cb-text span {
    white-space: pre-wrap;
}

.cb-text2 span {
    white-space: pre;
}

h1.cb-text2,
h2.cb-text2,
h3.cb-text2 {
    display: block;
    font-weight: normal;
}

.cb-text ul,
.cb-textTable ul {
    margin: 0;
    padding-left: 40px;
}

.cb-text a,
.cb-textButton a {
    text-decoration: inherit;
}

.cb-text .justify span {
    white-space: normal;
}

.cb-text .justify {
    white-space: normal;
}

.cbel a {
    color: inherit;
}

.cb-formReset,
.cb-formSubmit {
    border: inset #ccc 1px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
}

.cb-formField,
.cb-formArea {
    border: solid #999 1px;
    border-radius: 2px;
    padding: 3px;
}

.cb-link {
    color: #000;
    text-decoration: none;
}

.cb-form {
    margin: 0;
}

.cb-formerror {
    outline: solid rgba(255, 0, 0, .7) 2px;
}

.hovermaster .hoverslave {
    display: none;
}

.hovermaster:hover .hoverslave {
    display: block;
}

.overmaster-tr:hover .overslave-tr {
    opacity: 1;
}

.overmaster-tr .overslave-tr {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}

.error {
    border-color: red;
}

#flashOuter {
    min-width: 860px;
}

/*navigation separators */

/* 1x2, black 20%, white 50% */

.cb-vsep {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH2woMDRUhx0+ETAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAASSURBVAjXY2BgYDBm+v//vw8ACokDf1PvGuEAAAAASUVORK5CYII=);
    height: 2px;
    display: block;
}

/* 2x1, black 20%, white 50% */

.cb-hsep {
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH2woNDigT34pETgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAARSURBVAjXY2RgYDD+//+/DwAKVAN+6HLMoQAAAABJRU5ErkJggg==);
    width: 2px;
    height: 100%;
    vertical-align: top;
}

/* topbanner */

#topBanner {
    background: #678ED5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#82A1DC), to(#3D72D3));
    background-image: -moz-linear-gradient(top, #82A1DC 0%, #3D72D3 100%);
    background-image: gradient(linear, 0% 0%, 0% 100%, from(#82A1DC), to(#3D72D3));
    text-align: right;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}

#topBanner .ticker {
    display: inline-block;
    width: 420px;
    height: 28px;
    float: left;
    margin-right: 3px;
    font-size: 14px;
    cursor: pointer;
    background-repeat: no-repeat;
}

#topBanner a {
    color: inherit;
}

#topBanner .btn {
    display: inline-block;
    border: solid #AFC1E2 1px;
    color: #fff;
    background: #82A4E4;
    margin: 4px 4px 0 0;
    padding: 1px 8px;
    cursor: pointer;
}

#topBanner .divider {
    background: url(../topbanner/divider.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 2px;
    height: 28px;
    float: left;
    padding: 0 4px;
}

#topBanner .dividerWrap {
    display: inline-block;
    height: 20px;
}

#topBanner .btn:hover {
    background: #678ED5;
}

#topBanner .shareBtn {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    font-size: 14px;
    background: url(../topbanner/icons-social.png);
    cursor: pointer;
    background-repeat: no-repeat;
}

#topBanner .more {
    padding-left: 20px;
    width: 140px;
    margin-top: 10px;
    color: #666;
    font-weight: bold;
}

#topBanner .more:hover {
    color: #000;
}

#topBanner input[type=text],
#topBanner textarea {
    border: solid #ccc 1px;
    margin: 2px 0;
    padding: 1px;
}

#topBanner .star {
    display: inline-block;
    background: url(../topbanner/starg.png);
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    cursor: pointer;
}

#topBanner .starOn {
    background: url(../topbanner/star.png);
}

table.cbel td {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
}

.cbel .hidden {
    display: none;
}

div.ui-datepicker {
    font-size: 12px;
}

img.ui-datepicker-trigger {
    position: absolute;
    top: 2px;
    padding-left: 3px;
}

.cb-gallery canvas {
    pointer-events: none;
}

.cb-navigation2 {
    z-index: 1000;
}

.cb-navigation2>span {
    display: none;
}

.h5-text div,
.h5-text li {
    //line-height: normal;
    white-space: normal;
    line-height: 1.275;
}

.h5-text span {
    white-space: normal;
}

.h5-text a {
    color: inherit;
}

/** shop **/

.cb-shopCategoryList {
    padding: 0 0 5px 5px;
}

.cb-shopCategoryList>div {
    display: inline-block;
    padding: 10px;
    background: #f0f0f0;
    margin: 5px 5px 0 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.cb-shopCategoryList>div::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.cb-shopCategoryList div.image {
    width: 100px;
    height: 100px;
    background: #ccc;
    margin-bottom: 5px;
}

.cb-shopProductList {
    padding: 0 0 5px 5px;
}

.cb-shopProductList>div {
    display: inline-block;
    padding: 10px;
    background: #f0f0f0;
    margin: 5px 5px 0 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.cb-shopProductList>div::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.cb-shopProductList div.image {
    width: 100px;
    height: 100px;
    background: #729cf0;
    margin-bottom: 5px;
}

.animate-left {
    transition: left 200ms;
}

.animate-left.dragging {
    transition: none;
}

.cb-mobile {
    font-family: sans-serif;
}

.cb-mobile .navigation {
    background-color: #4b4b4b;
    transition: height 200ms;
    height: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0;
    z-index: 10;
}

.cb-mobile .navigation.open {
    overflow: auto;
}

#cb-navigationPaneTogg {
    display: inline-block;
}

.cb-mobile .navigation .titleBar,
.cb-mobile .navigation .titleBar>div {
    display: inline-block;
}

.cb-mobile .navigation .titleBar {
    vertical-align: top;
    display: block;
    margin-left: 60px;
}

.cb-mobile .navigation .titleBar>* {
    display: inline-block;
    vertical-align: middle;
}

.cb-mobile .navigation>.naviPaneTogg {
    position: absolute;
    top: 0;
    left: 0;
}

.cb-mobile .navigation .titleBar>span {
    width: 0;
    height: 100%;
}

.cb-mobile .navigation .titleH {
    font-size: 14px;
    margin: 0 5px;
}

.cb-mobile .navigation .imgH {
    height: 100%;
}

.cb-mobile .navigation .imgH>span {
    height: 100%;
    width: 0;
    vertical-align: middle;
    display: inline-block;
}

.cb-mobile .navigation .imgH img {
    max-width: 60px;
    max-height: 60px;
    vertical-align: middle;
}

.cb-mobile .navigation .template1 {
    background-position: right;
}

.cb-mobile .navigation .template2 .imgH,
.cb-mobile .navigation .template5 .imgH {
    float: right;
}

.cb-mobile .navigation .template3 .imgH {
    float: left;
}

.cb-mobile .navigation .template3,
.cb-mobile .navigation .template5 {
    text-align: right;
}

.cb-mobile .navigation .template4 .imgH {
    float: left;
}

.cb-mobile .navigation .template6 {
    text-align: center;
}

.cb-mobile .navigation .item {
    display: block;
    padding: 3px 0;
}

.cb-mobile .navigation .level {
    display: block;
    margin-left: 20px;
}

.cb-mobile .navigation a {
    color: #fff;
    text-decoration: none;
}

.cb-mobile .navigation .level0 {
    margin-top: -5px;
    padding-bottom: 10px;
    font-size: 14px;
}

.cb-mobile .cb-mobileContent {
    margin-top: 60px;
    margin-bottom: 0px;
}

.cb-mobile .cb-text {
    padding: 10px;
}

.cb-mobile .cb-image {
    padding: 10px;
}

.cb-mobile .cb-image img {
    max-width: 100%;
}

.cb-mobile .cb-autoShape {
    text-align: center;
}

.cb-mobile .cb-autoShape>div {
    display: inline-block;
}

.cb-mobile .form-item {
    border: none;
    padding: 10px;
}

.cb-mobile .form-item>.lbl {
    margin-bottom: 5px;
    color: #555;
}

.cb-mobile .form-item>.lbl-right {
    margin-left: 5px;
    color: #555;
    display: inline;
}

.cb-mobile .form-item input[type=text],
.cb-mobile .form-item input[type=email],
.cb-mobile .form-item textarea,
.cb-mobile .form-item select,
.cb-mobile .form-item option,
.cb-mobile .form-item input[type=date] {
    width: 100%;
    padding: 7px;
    font-size: 18px;
    border: solid 1px #ccc;
    color: #555;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cb-mobile .cb-yMap {
    margin: 10px;
}

.cb-mobile .cb-textButton {
    text-align: center;
}

.cb-mobile .cb-textButton>div {
    position: relative;
    display: inline-block;
}

.cb-mobile .cb-textButton>div>canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.cb-mobile .cb-textButton>div>div {
    position: absolute;
    top: 1px;
    right: 10px;
    bottom: 1px;
    left: 10px;
    overflow: hidden;
    text-align: center;
    line-height: 1em;
    font-size: 14px;
}

.cb-mobile .cb-soundPlugin {
    margin: 10px auto;
    width: 80%;
    display: block;
}

.cb-mobile .cb-textTable table,
.cb-mobile .cb-textTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.cb-mobile div.cb-textTable {
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cb-mobile .cb-loadingScreen {
    background: url(loading.gif) no-repeat 50% 50%;
}

.cb-mobile .cb-sign-guestbook {
    background: #F1592A;
    border-radius: 5px;
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari, Chrome */
    color: white;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.cb-mobile .cb-guestbook-title {
    background: #EBFAF3;
    padding: 8px;
    font-weight: bold;
}

.cb-mobile .cb-cancelSign {
    background: url("arrow-back.png") no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.cb-mobile .cb-guestbook-input {
    display: block;
    margin-top: 5px;
    width: 100%
}

.cb-mobile .cb-guestbook-textarea {
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 100px;
}

.cb-button {
    cursor: pointer;
}

.cb-button>span {
    display: inline-block;
    vertical-align: middle;
}

.cb-button>span:first-child {
    height: 100%;
    width: 0;
}

.cb-button>span:last-child {
    margin: 0 10px;
    text-decoration: inherit;
}

.cbel table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cbel table td {
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

/* reset headings */

.cbel h1 {
    margin: 0;
    padding: 0;
    /*font-weight: inherit;*/
    line-height: normal
}

.cbel h2 {
    margin: 0;
    padding: 0;
    /*font-weight: inherit;*/
    line-height: normal
}

.cbel h3 {
    margin: 0;
    padding: 0;
    /*font-weight: inherit;*/
    line-height: normal
}

.cbel blockquote {
    display: block;
    margin: 0;
    padding: 0;
    font-style: inherit;
    font-weight: inherit;
    line-height: normal
}

.mcb-text li {
    list-style-type: disc;
}

.h5-text.delayed,
.cb-behaviour {
    display: none;
}

.cb-externalContent {
    border: none;
}

.mcbel input[type=submit] {
    border: inset #ccc 1px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 6px;
    background: #CCCCCC;
    min-width: 100px;
    color: #222;
    font-weight: normal;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.caution {
    background: url("caution.png") no-repeat #FDEFED 20px 8px;
    position: relative;
    left: 0;
    right: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    height: 40px;
    line-height: 40px;
    padding-left: 60px;
    border-bottom: 2px solid #F4B5A9;
    font-weight: bold;
    font-size: 14px;
}

.enableJsButton {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #5D5D5D;
    margin-left: 20px;
    font-weight: bold;
}