@media only screen and (min-width:1259px) and (max-width:1500px){.teamb{width:70%}
.seotable2{width:103%!important}
}@media only screen and (min-width:980px) and (max-width:1260px){.banner-ar{margin:15px 0 0 16px}
.slider5 .slick-list{width:895px;margin-left:0;margin:0 auto}
.awardlogo{width:23%;margin:11px 0 13px 2%}
.seobt::before{display:none}
.seobt{padding:8px 10px 8px 10px;width:140px}
.seobg1{background-size:180% auto!important}
.solutionbox li{width:18%;min-height:341px}
.solutionbox li .icons{margin-left:-6px}
.offerbox .img{margin:0 15px 10px 0}
.readyar{padding:36px 30px 54px;font-size:32px}
.web-articals{font-size:23px;padding:20px 10px 20px 10px}
.marketing-guides{font-size:23px;padding:20px 10px 20px 10px}
.external-resources{font-size:23px;padding:20px 10px 20px 10px}
.artbox .headb{font-size:13px;line-height:20px}
.fad1{font-size:13px}
.fad2{font-size:13px}
.fad1 .hd{font-size:17px}
.fad2 .hd{font-size:17px}
.flinks li a{font-size:12px}
.clientbg{padding:50px 54px}
.clientbg p{font-size:14px;line-height:31px}
.nav_mainmenu>ul>li:nth-child(2) .m1{left:0!important}
.nav_mainmenu>ul>li:nth-child(3) .m1{left:-150px!important}
.nav_mainmenu>ul>li:nth-child(4) .m1{left:-377px!important}
.video-animation{left:0!important}
.mobile-apps{left:0!important}
.appbox .img{height:160px}

.mobslidework{display:none!important}
.featurebox{height:210px}
.pdetailbt{margin:-36px 0 0 0}
.postbox .img{height:160px}
.fulldbt{margin:-10px 0 0 0}
.fourbox{padding:45px 50px 45px}
.testhead{font-size:13px}
.testhead2{font-size:13px}
.testhead3{font-size:13px}
.quote1{width:35px;height:35px;font-size:49px;line-height:66px;margin:25px 0 0 -21px}
.quote2{width:35px;height:35px;font-size:49px;line-height:66px;margin:25px 0 0 -21px}
.quote3{width:35px;height:35px;font-size:49px;line-height:66px;margin:25px 0 0 -21px}
.test1-bottom{border-width:50px 210px 0 0}
.test2-bottom{border-width:50px 210px 0 0}
.test3-bottom{border-width:50px 210px 0 0}
.our-happy{font-size:23px;line-height:29px}
.wdte{float:none;margin-top:0;text-align:center;margin-bottom:25px}
.wdarea{line-height:13px}
.wdarea img{float:none;margin:9px auto 16px;display:table}
.wdarea{padding:60px 0 40px}
.signte{padding:4% 0 0 10%}
.plm{padding-left:15px!important}
.prm{padding-right:15px!important}
.seotable2{width:101.1%!important}
.tba{margin-top:-2px}
.teambox .arrowar{width:35px;height:35px;margin:-50px auto 0;font-size:24px;line-height:35px;left:45px}
.nav_mainmenu>ul>li>a{font-size:13px}
.nav_mainmenu>ul>li a img{width:22px;height:auto}
.nav_mainmenu>ul>li{padding:0 18px 5px 18px}
.teamboxtext{padding:40px 2% 0 13%}
.testboc p{padding-left:12%}
.p1{border-radius:10px;width:100%;height:350px}
.p1:before{border-radius:10px}
.p2{border-radius:10px;width:100%;height:350px}
.p2:before{border-radius:10px}
.p3{border-radius:10px;width:100%;height:350px}
.p3:before{border-radius:10px}
.p4{border-radius:10px;width:100%;height:350px}
.p4:before{border-radius:10px}
.port-menu li a{font-size:16px}
.porpoints{margin-left:0}
.portt01{width:7%}
.portt02{width:85%}
.portt03{width:6%}
.coursemenu li a{font-size:13px;font-weight:500}
.listmenu2 li{width:100%}
.courseinner{font-size:11px;color:#333;font-weight:600;line-height:17px;height:155px}
.slider10 .slick-next{right:-7%}
.blogbox1 .imgarea{height:174px}
.slideshow li{width:660px;margin:-280px 0 0 -330px}
.plhm{padding-left:0!important}
.socialimg{margin-top:0}
.vidhead{padding:0 25px}
.vidhead a{font-size:19px}
.textvid{font-size:38px;width:55px;height:55px;line-height:55px}
.textvid i{margin-top:7px}
.vidte{height:200px}
.vid1{height:300px}
.nav_mainmenu>ul>li a img{margin-right:0}
.year1{margin:25px 0 0 32%;font-size:45px}
.award-inner1{margin:15px 0 0 20px;width:40%}
.award01{font-size:21px;height:330px}
.award-inner01{padding:0 0 0 25px;line-height:30px}
.year2{margin:25px 24% 0 0;font-size:45px}
.award-inner2{margin:15px 20px 0 0;width:40%}
.award02{font-size:21px;height:330px}
.award-inner02{padding:0 25px 0 0;line-height:30px}
.year3{margin:25px 0 0 33%;font-size:45px}
.award-inner3{margin:15px 0 0 20px;width:40%}
.award03{font-size:21px;height:330px}
.award-inner03{padding:0 0 0 25px;line-height:30px}
.arrowblue{left:47%;top:97%;transform:rotate(90deg)!important}
.wagwep-container ul#portfolio-filter a{margin:0 10px 0 0}
}@media only screen and (min-width:768px) and (max-width:979px){.banner-ar{margin:15px 0 0 0}
.slider5 .slick-list{width:670px;margin-left:0;margin:0 auto}
.awardlogo{width:23%;margin:11px 2.6% 13px 0}
.awardlogo:last-child{margin-right:0;float:right}
.seobt::before{display:none}
.seobt{padding:8px 10px 8px 10px;width:140px}
.seobg1{background-size:250% auto!important}
.solutionbox li{width:18%;min-height:341px}
.solutionbox li .icons{margin-left:-6px}
.offerbox .img{margin:0 15px 10px 0}
.readyar{padding:36px 30px 54px;font-size:32px}
.web-articals{font-size:23px;padding:20px 10px 20px 10px}
.marketing-guides{font-size:23px;padding:20px 10px 20px 10px}
.external-resources{font-size:23px;padding:20px 10px 20px 10px}
.artbox .headb{font-size:13px;line-height:20px}
.fad1{font-size:13px}
.fad2{font-size:13px}
.fad1 .hd{font-size:17px}
.fad2 .hd{font-size:17px}
.flinks li a{font-size:12px}
.clientbg{padding:50px 54px}
.clientbg p{font-size:14px;line-height:31px}
.logowebpulse{width:160px;height:auto}
.callw{font-size:13px;}
.search-area{width:55%}
.tbt{font-size:13px;margin:0 15px 0 0}
.slider7 .slick-prev{right:97.2%}
.slider7 .slick-next{right:-4%}
.slider5 .slick-next{right:-4%}
.nav-tabs>li{text-align:center}
body{overflow-x:hidden}
#dl-menu{display:block;z-index:500;position:relative}
.nav_mainmenu{display:none}
.nav_menutop{display:none}
.appbox .img{height:160px}

.ih1{font-size:37px!important;line-height:35px!important;height:auto;font-family:'Roboto Condensed',sans-serif important;padding:0 0 13px 0!important;margin:0!important;text-align:left!important}
.ih1 .wrap{font-size:37px!important}
#dl-menu{display:block;z-index:500;position:relative;top:-56px;float:right;margin-right:0}
.mainmenu{height:0}
.sticky .hsermenu #dl-menu{top:0}
.sticky #dl-menu{top:0}
#dl-menu{margin-right:10px}
.fourbox{padding:45px 20px 45px 20px}
.testhead{font-size:13px}
.testhead2{font-size:13px}
.testhead3{font-size:13px}
.quote1{width:35px;height:35px;font-size:49px;line-height:66px;margin:25px 0 0 -21px}
.quote2{width:35px;height:35px;font-size:49px;line-height:66px;margin:25px 0 0 -21px}
.quote3{width:35px;height:35px;font-size:49px;line-height:66px;margin:25px 0 0 -21px}
.mobslidework{display:none!important}
.pdetailbt{margin:-36px 0 0 0}
.postbox .img{height:160px}
.fulldbt{margin:-10px 0 0 0}
.ftbox2{padding:0 14px}
.featurebox{height:209px}
.test1-bottom{border-width:50px 210px 0 0}
.test2-bottom{border-width:50px 210px 0 0}
.test3-bottom{border-width:50px 210px 0 0}
.our-happy{font-size:23px;line-height:29px}
.wdte{float:none;margin-top:0;text-align:center;margin-bottom:25px}
.wdarea{line-height:13px}
.wdarea img{float:none;margin:9px auto 16px;display:table}
.wdarea{padding:60px 0 40px}
.signte{padding:4% 0 0 10%;font-size:28px;line-height:35px}
.signbt1{margin-top:-16px}
.regbg{padding:29px 0}

.plm{padding-left:15px!important}
.prm{padding-right:15px!important}
.seotable2{width:101.1%!important}
.tba{margin-top:-2px}
.teambox .arrowar{width:35px;height:35px;margin:-50px auto 0;font-size:24px;line-height:35px;left:45px}
.testboc p{padding-left:12%}
.testname::before{width:94%}
.p1{border-radius:10px;width:100%;height:350px}
.p1:before{border-radius:10px}
.p2{border-radius:10px;width:100%;height:350px}
.p2:before{border-radius:10px}
.p3{border-radius:10px;width:100%;height:350px}
.p3:before{border-radius:10px}
.p4{border-radius:10px;width:100%;height:350px}
.p4:before{border-radius:10px}
.look-head{margin:12px 0 25px 0;width:87%;font-size:12px}
.port-menu li a{font-size:16px}
.porpoints{margin-left:0}
.vpro{margin-top:68%}
.portt01{width:7%}
.portt02{width:85%}
.portt03{width:6%}
.coursemenu li a{font-size:13px;font-weight:500}
.listmenu2 li{width:100%}
.courseinner{font-size:11px;color:#333;font-weight:600;line-height:17px;height:155px}
.slider10 .slick-next{right:-7%}
.blogbox1 .imgarea{height:174px}
.postarea .datear2{padding-right:15px;margin-top:-58px;margin-right:18px;padding:0 10px;color:#333}
.socialimg{margin-top:0}
.vidhead{padding:0 10px}
.vidhead a{font-size:19px}
.textvid{font-size:38px;width:55px;height:55px;line-height:55px}
.textvid i{margin-top:7px}
.vidte{height:200px}
.vid1{height:300px}
.year1{margin:25px 0 0 28.5%;font-size:45px}
.award-inner1{margin:15px 0 0 20px;width:37%}
.award01{font-size:17px;height:270px}
.award-inner01{padding:0 0 0 15px;line-height:25px}
.award01 h1{padding:0 0 10px 0;font-size:27px!important}
.year2{margin:25px 22% 0 0;font-size:45px}
.award-inner2{margin:15px 20px 0 0;width:37%}
.award02{font-size:17px;height:270px}
.award-inner02{padding:0 25px 0 0;line-height:25px}
.award02 h1{padding:0 0 10px 0;font-size:27px!important}
.year3{margin:25px 0 0 30%;font-size:45px}
.award-inner3{margin:15px 0 0 20px;width:37%}
.award03{font-size:17px;height:270px}
.award-inner03{padding:0 0 0 25px;line-height:25px}
.award03 h1{padding:0 0 10px 0;font-size:27px!important}
.arrowblue{left:47%;top:97%;transform:rotate(90deg)!important}
.wagwep-container ul#portfolio-filter a{margin:0 10px 0 0}
}@media only screen and (min-width:320px) and (max-width:480px){.home-pageload-popup{top:35%}
    .franchise-img-border{width: 100%;}
}@media only screen and (min-width:568px) and (max-width:667px){.home-pageload-popup{top:10%}
}@media only screen and (min-width:320px) and (max-width:767px){.blogDetailImage img{width:100%!important}
.f-steps-outer{margin: 0px!important;}
.franchise-steps .title p .fs-small { z-index: 1;
position: relative;}
.sticky .callw{display:none}
.sticky .tm{display:none}
.callw{width:50%;text-align:center;margin:0;font-size:12px;display:none}
.sticky .tbt{font-size:13px;padding:0;margin:0;float:right}
.jbt{margin-left:12px}
.tm{padding-left:0;padding-right:0}
.header{padding:10px 16px 4px}
.banner-ar{margin:5px 5px 0 7px}
.slider7 .slick-prev{right:93%}
.slider7 .slick-next{right:-11%}
.shead{font-size:26px}
.search-area{width:60%;height:30px}
.search-input{font-size:10px;padding:0 0 0 10px;width:67%}
.search-button{width:30%;height:30px;font-size:15px;line-height:30px}
.shead{margin:280px 0 0 0}
.featured-logos{margin:0 15px 0 0;display:inline-block;text-align:center;margin:0 auto;padding:2px 5px}
.featured-logos label{border-bottom:1px solid #30a4ee}
.featured-logos label:after{background:0}
.featured-logos .clogo{margin:0 15px 0 0}
.featured-logos .clogo:nth-child(4),.featured-logos .clogo:nth-child(5){display:none}
.awardar h1 span{font-size:31px}
h1{line-height:35px}
h1 span{font-size:35px}
h1 strong{font-size:35px}
.about-area{padding:48px 15px 43px}
.work-area{padding:45px 15px 55px}
.slider5{width:250px!important;margin:0 auto}
.slider5 .slick-slide{width:250px!important}
.solutionbox li{width:90%;margin:17px 1% 0 5%}
.seobg1{background-size:cover!important;padding:43px 15px 30px}
body{overflow-x:hidden}
.offerbg{background-size:cover!important;padding:90px 15px 20px}
.offerbox .img{margin:0 15px 94px 0}
.offerbox{line-height:20px;margin-bottom:10px}
.clientbg{padding:50px 30px;min-height:250px}
.clientbg p{color:#FFF;margin-top:7px;line-height:25px;font-size:14px}
.cimage{padding:0;min-height:150px}
.readyar{padding:26px 30px 35px;font-size:28px;text-align:center}
.contbt{padding:10px 35px;margin:22px auto 0;float:none;border-radius:4px;display:table}
.seotab li{width:129px;height:102px;margin:0 0 16px 0!important}
.seotab>li>a{font-size:20px!important}
.seotab>li>a:hover{padding:0 0 20px 0!important}
.seoport{margin-bottom:16px}
.responsive-img{width:100%}
.seobt:hover:after{content:"";border-color:transparent transparent #fff #333;transition:.5s}
.seobt{padding:8px 53px 8px 53px;margin-bottom:-14px}
.seobt:after{content:"";border-width:0 0 34px 34px;border-style:solid;border-color:transparent transparent #fff #1178ba;position:absolute;margin:-8px 0 0 20px;transition:.5s;transform:rotate(-90deg)}
.max .slick-list{width:250px!important;height:180px;margin-left:0;margin:0 auto}
.mini .slick-list{width:250px!important;height:auto!important;margin-left:0!important;margin:0 auto!important}
.mini .slider5{width:250px!important;margin:0 auto!important;left:-35px!important;position:relative}
.readyar{margin:27px 15px 50px 15px}
.artbt{margin:-6px 0 40px 0}
.face{margin:0;width:20%;font-size:11px}
.google{margin:0;width:20%;font-size:11px}
.twitter{margin:0;width:20%;font-size:11px}
.rss{margin:0;width:20%;font-size:11px}
.youtube{margin:0;width:20%;font-size:11px}
.instagram{margin:0;width:20%;font-size:11px}
.payarea{margin-top:15px}
.payarea img{width:100%;height:auto}
.rdm{margin:15px auto 0;float:none}
.bline{margin:2px 0 22px 0}
.footerl{text-align:center}
.footerr{text-align:center;margin-top:8px}
.sticky .logowebpulse{width:140px;height:auto;margin-left:0}
#dl-menu{display:block;z-index:99999;position:relative;top:-59px;float:right;margin-right:0}
.nav_mainmenu{display:none}
.nav_menutop{display:none}
.ih1{font-size:27px!important;line-height:35px!important;height:auto;font-family:'Roboto Condensed',sans-serif important;padding:0 0 10px 0!important;margin:0!important;text-align:left!important}
.ih1 .wrap{font-size:27px!important}
.icontarea{padding-top:0;padding-bottom:15px}
.ibhead01{padding:0 0 12px 0;font-size:25px}
.rdm{font-size:13px}
.ibanner-mobileapp{line-height:24px}
.mainmenu{height:0;padding-right:10px}
.logowebpulse{width:180px;position:relative;z-index:600;height:auto}
.mainmenu .sticky #dl-menu{top:-0px}

.contd{margin-top:25px}
.contother .mapc{margin:0 0 12px 0}
.contother .conti{margin:4px 13px 119px 0}
.prm{padding-right:0}
.backm{margin-bottom:30px}
.contd a{font-size:12px}
.hsermenu{display:block;box-shadow:none;height:0}
.hsermenu #dl-menu{top:-59px;z-index:99999}
.search-area{margin:0 auto 0}
.srtext{margin-top:0}
.featured-logos{margin:0;width:100%}
.sticky .hsermenu #dl-menu{top:-47px}
.header{height:61px}
.sticky #dl-menu{margin-right:10px}
.mlg{z-index:50}
.mobslidework{display:block!important}
.mobslideworkhide{display:none}
.port-menu li{width:100%;line-height:60px;text-align:left}
.port-menu li a img{margin:9px 8px 8px 8px;width:45px;height:45px;float:left}
.port-menu li a{padding:0;margin:0;text-align:left}
.port-menu li br{display:none}
.web-portarea{padding:31px 0 40px}
.portt1{width:15%;background:url(../images/portt1.jpg) 5px 16px no-repeat}
.portt2{width:70%;font-size:10px}
.portt3{width:14%}
.porttbox{margin:0 0 35px 0}
.scroll-screen-btn{bottom:21px!important}
.pdetailbt{margin:0 0 25px 0}
.resultbt{margin-bottom:10px}
.fulldbt{margin-top:-10px}
.port-scroll{margin:20px 0 25px 0}
.postbox .img{height:215px}
.precess{padding-top:36px;padding-bottom:40px;margin-top:10px}
.priceb{margin:0 -15px 25px}
.blogpostbg{padding:35px 0 50px}
.listmenu li{margin:16px 0 16px}
.button2{margin:18px auto 25px}
.awardlogo2{width:100%;margin:22px 0 0 0}
.slider8::before{display:none}
.fourbox{border:1px solid #e2e7eb!important;padding:15px 20px 25px;margin:0 0 23px 0}
.testhead{font-size:15px}
.testhead2{font-size:15px}
.testhead3{font-size:15px}
.quote1{width:37px;height:37px;font-size:50px;line-height:70px;margin:21px 0 0 -21px}
.quote2{width:37px;height:37px;font-size:50px;line-height:70px;margin:21px 0 0 -21px}
.quote3{width:37px;height:37px;font-size:50px;line-height:70px;margin:21px 0 0 -21px}
.ftbox{border-bottom:2px solid #efefef!important;border-right:0}
.ftbox:last-child{border-bottom:0!important;border-right:0}
.ftbox2{border-bottom:2px solid #efefef;border-right:0}
.test1-bottom{border-width:50px 260px 0 0}
.test2-bottom{border-width:50px 260px 0 0}
.test3-bottom{border-width:50px 260px 0 0}
.our-happy img{margin-bottom:9px}
.wei{margin-bottom:25px}
.fourhead h1{font-size:30px!important}
.our-happy{padding:48px 0 30px}
.wdarea img{margin:0 18px 0 0;width:50px;height:50px}
.wdte{margin-top:4px}
.wdarea{padding:48px 0 25px}
.ibanner-registration{padding:5px 0 10px}
.ibhead01{margin:-19px 0 0 0}
.frarea{margin:25px 0 0 0}
.regbg{padding:35px 10px}
.regbg h1{font-size:34px!important}
.signbt1{margin-bottom:27px}
.ibanner-signin{padding:5px 0 10px}
.joinbg{padding:34px 10px}
.joinbg h1{font-size:35px!important}
.plm{padding-left:15px!important}
.prh{padding-right:0!important}
.plh{padding-left:0!important}
.prm{padding-right:15px!important}
.seotable2{width:100%!important}
.tba{margin-top:-2px}
.seop{height:112px}
.seop .seohead{font-size:19px}
.seologo{margin:0}
.seotable1 td{text-transform:capitalize;padding:7px 0;font-size:11px;line-height:16px;font-weight:500}
.seotable1{width:98%}
.seotable2 td{line-height:22px;padding:4px 0;font-size:12px}
.custom-scroll{height:213px}
.seop{margin-top:20px}
.ibanner-team{padding:5px 0 10px}
.teambox{margin:0 0 20px -1px}
.teamup2{margin-top:14px;padding:0}
.teamb h1{font-size:23px!important}
.persondetail{height:276px}
.teamup1{padding-right:0}
.teamb .close{left:5px}
.ibanner-clients{padding:5px 0 10px}
.ibanner-whywebpulse{padding:5px 0 10px}
.testlogo{bottom:-125px;right:0}
.testquote{width:100%;float:left;padding:34px 10px 0;margin:130px 0 10px 0;height:44px}
.testboc p{padding-left:0;width:109%;height:200px;overflow:scroll;line-height:25px;font-size:15px;padding-right:20px}
.testname{color:#1178ba;font-size:20px;font-family:'Poppins',sans-serif;font-weight:normal;padding-top:15px;margin:0 0 0 -15px}
.testname{margin:0 0 0 -15px}
h1 strong{font-size:35px;width:100%!important;display:block}
.p1{left:22px}
.p2{left:22px}
.p3{left:22px}
.p4{left:22px}
.awardlogo3{margin:5px 0 20px 0;width:100%}
.inreview{margin-top:15px}
.portbig .screenshot{height:230px}
.portbig{margin-bottom:0}
.porpoints{margin:25px 0 0 0;margin-left:0}
.porpoin{margin:0 0 29px 0}
.ph2{padding-bottom:9px!important}
.vpro{padding:12px 18px 20px;margin:5% 0 0 0;top:50%;text-decoration:none}
.arrow-big{margin:-35px 0 0 30px}
.bline2{margin:30px 0 31px 0}
.portt01{width:14%}
.portt02{width:74%}
.portt03{width:10%}
.courseright{padding-left:15px;margin-top:25px}
.listmenu2 li{width:100%}
.listmenu2 li{margin:8px 0 8px}
.courseibox{padding-left:0;padding-right:0}
.ibanner-marketingblog{padding:5px 0 10px}
.blogbox1 .imgarea{height:auto}
.blogbox1 h1{font-size:27px!important}
.blogbox1 h1 span{font-size:27px!important}
.combox{margin:8px 0 0 0}
.blogbox1{margin-bottom:35px}
.postarea .datear2{padding-right:17px;margin-top:0;margin-right:20px;padding:0 10px;color:#333}
.postarea h1{font-size:30px!important}
.postarea h1 span{font-size:30px!important}
.combox2{width:100%}
.mmiddle{width:100%;text-align:center}
.bdi{float:left}
.fix{margin-top:35px}

.tabvertical{padding:12px 0 0 0;width:100%}
.mplh{padding-left:0!important}
.mprh{padding-right:0!important}
.careerform h1{font-size:18px!important;margin-top:14px}
.attachedar{height:auto}
.attachinput{width:115%;margin:0 0 10px -40px}
.socialimg{margin:0}
.vidte{height:200px}
.vid1{height:200px}
.vidhead{padding:0 30px}
.vidhead a{font-size:19px}
.textvid{font-size:38px;width:65px;height:65px;line-height:65px}
.textvid i{margin-top:13px}
t;font-size:20px;height:auto;padding-bottom:25px}
.award-inner2{margin:228px 25px 0 0;width:85%}
.award-inner02{padding:0 26px 0 0;line-height:34px}
.year2{font-size:36px;margin:72% 12px 0 0;right:0}
.award02 h1{font-size:33px!important;padding:0 0 20px 0!important;text-align:left}

.ibanner-award{padding:5px 0 10px}
.ibanner-newsevents{padding:5px 0 10px}
.dl-menuwrapper li .dl-submenu{overflow:scroll;height:auto;max-height:360px}
.ibanner-social{padding:5px 0 10px}
.ibanner-career{padding:5px 0 10px}
.thummob{float:left;width:228px}
.arrowblue{left:42%;top:96%;transform:rotate(90deg)!important}
.og-grid li>a,.og-grid li{width:100%;float:left}
.og-expander{height:754px!important}
.og-details h3{margin-top:-20px}
.og-fullimg{height:255px!important}
.elastislide-horizontal ul{width:200%}
.elastislide-horizontal ul li{width:15.9%;margin:0;padding:0;float:left!important;display:block!important}
.elastislide-carousel{overflow:hidden;position:relative;height:auto!important}
.wagwep-container ul#portfolio-filter li{padding:0}
nav#porfolio-nav{margin-top:-10px}
.wagwep-container ul#portfolio-filter a{padding:6px 12px 6px 0}
}@media only screen and (max-width:320px){.sticky .callw{display:none}
.sticky .tm{display:none}
.callw{width:50%;text-align:center;margin:0;font-size:12px}
.sticky .tbt{font-size:13px;padding:0;margin:0;float:right}
.jbt{margin-left:12px}
.tm{padding-left:0;padding-right:0}
.header{padding:10px 16px 4px}
.banner-ar{margin:5px 5px 0 7px}
.slider7 .slick-prev{right:93%}
.slider7 .slick-next{right:-11%}
.awardlogo{margin:2px 0 13px 2%;width:47%}
.shead{font-size:26px}
.search-area{width:86%;height:30px}
.search-input{font-size:10px;height:30px;padding:0 0 0 10px;width:67%}
.search-button{width:30%;height:30px;font-size:15px;line-height:30px}
.shead{margin:245px 0 0 0}
.featured-logos{margin:11px 0 0 0}
.featured-logos .clogo{margin:5px 15px 0 0}
.awardar h1 span{font-size:31px}
h1{line-height:35px}
h1 span{font-size:35px}
h1 strong{font-size:35px}
.about-area{padding:48px 15px 43px}
.work-area{padding:45px 15px 55px}
.slider5{width:250px!important;margin:0 auto}
.slider5 .slick-slide{width:250px!important}
.solutionbox li{width:90%;margin:17px 1% 0 5%}
.seobg1{background-size:cover!important;padding:43px 15px 30px}
body{overflow-x:hidden}
.offerbg{background-size:cover!important;padding:90px 15px 20px}
.offerbox .img{margin:0 15px 94px 0}
.offerbox{line-height:20px;margin-bottom:10px}
.clientbg{padding:50px 30px;min-height:250px}
.clientbg p{color:#FFF;margin-top:7px;line-height:25px;font-size:14px}
.cimage{padding:0;min-height:150px}
.readyar{padding:26px 30px 35px;font-size:28px;text-align:center}
.contbt{padding:10px 35px;margin:22px auto 0;float:none;border-radius:4px;display:table}
.seotab li{width:129px;height:102px;margin:0 0 16px 0!important}
.seotab>li>a{font-size:20px!important}
.seotab>li>a:hover{padding:0 0 20px 0!important}
.seoport{margin-bottom:16px}
.responsive-img{width:100%}
.seobt:hover:after{content:"";border-color:transparent transparent #fff #333;transition:.5s}
.seobt{padding:8px 53px 8px 53px;margin-bottom:-14px}
.seobt:after{content:"";border-width:0 0 34px 34px;border-style:solid;border-color:transparent transparent #fff #1178ba;position:absolute;margin:-8px 0 0 20px;transition:.5s;transform:rotate(-90deg)}
.max .slick-list{width:250px!important;height:180px;margin-left:0;margin:0 auto}
.mini .slick-list{width:250px!important;height:auto!important;margin-left:0!important;margin:0 auto!important}
.mini .slider5{width:250px!important;margin:0 auto!important;left:-35px!important;position:relative}
.readyar{margin:27px 15px 50px 15px}
.artbt{margin:-6px 0 40px 0}
.face{margin:0;width:25%;font-size:11px}
.google{margin:0;width:25%;font-size:11px}
.twitter{margin:0;width:25%;font-size:11px}
.rss{margin:0;width:25%;font-size:11px}
.payarea{margin-top:15px}
.payarea img{width:100%;height:auto}
.rdm{margin:15px auto 0;float:none}
.bline{margin:2px 0 22px 0}
.footerl{text-align:center}
.footerr{text-align:center;margin-top:8px}
.sticky .logowebpulse{width:140px;height:auto;margin-left:0}
#dl-menu{display:block;z-index:500;position:relative;top:-59px;float:right;margin-right:0}
.nav_mainmenu{display:none}
.nav_menutop{display:none}
.ih1{font-size:27px!important;line-height:35px!important;height:auto;font-family:'Roboto Condensed',sans-serif important;padding:0 0 10px 0!important;margin:0!important;text-align:left!important}
.ih1 .wrap{font-size:27px!important}
.icontarea{padding-top:0;padding-bottom:15px}
.ibhead01{padding:0 0 12px 0;font-size:25px}
.rdm{font-size:13px}
.ibanner-mobileapp{line-height:24px}
.mainmenu{height:0;padding-right:10px}
.logowebpulse{width:180px;position:relative;z-index:600;height:auto}
.mainmenu .sticky #dl-menu{top:-0px}

.contd{margin-top:25px}
.contother .mapc{margin:0 0 12px 0}
.contother .conti{margin:4px 13px 119px 0}
.prm{padding-right:0}
.backm{margin-bottom:30px}
.contd a{font-size:12px}
.hsermenu{display:block;box-shadow:none;height:0}
.search-area{margin:0 auto 0}
.srtext{margin-top:0}
.featured-logos{margin:0}
.sticky .hsermenu #dl-menu{top:-47px}
.header{height:61px}
.sticky #dl-menu{margin-right:10px}
.mlg{z-index:50}
.mobslidework{display:block!important}
.mobslideworkhide{display:none}
.port-menu li{width:100%;line-height:60px;text-align:left}
.port-menu li a img{margin:9px 8px 8px 8px;width:45px;height:45px;float:left}
.port-menu li a{padding:0;margin:0;text-align:left}
.port-menu li br{display:none}
.web-portarea{padding:31px 0 40px}

.portt2{width:70%;font-size:10px}
.portt3{width:14%}
.porttbox{margin:0 0 35px 0}
.scroll-screen-btn{bottom:21px!important}
.pdetailbt{margin:0 0 25px 0}
.resultbt{margin-bottom:10px}
.fulldbt{margin-top:-10px}
.port-scroll{margin:20px 0 25px 0}
.postbox .img{height:215px}
.precess{padding-top:36px;padding-bottom:40px;margin-top:10px}
.priceb{margin:0 -15px 25px}
.blogpostbg{padding:35px 0 50px}
.listmenu li{margin:16px 0 16px}
.button2{margin:18px auto 25px}
.awardlogo2{width:100%;margin:22px 0 0 0}
.slider8::before{display:none}
.fourbox{border:1px solid #e2e7eb!important;padding:15px 20px 25px;margin:0 0 23px 0}
.testhead{font-size:15px}
.testhead2{font-size:15px}
.testhead3{font-size:15px}
.quote1{width:37px;height:37px;font-size:50px;line-height:70px;margin:21px 0 0 -21px}
.quote2{width:37px;height:37px;font-size:50px;line-height:70px;margin:21px 0 0 -21px}
.quote3{width:37px;height:37px;font-size:50px;line-height:70px;margin:21px 0 0 -21px}
.ftbox{border-bottom:2px solid #efefef!important;border-right:0}
.ftbox:last-child{border-bottom:0!important;border-right:0}
.ftbox2{border-bottom:2px solid #efefef;border-right:0}
.test1-bottom{border-width:50px 260px 0 0}
.test2-bottom{border-width:50px 260px 0 0}
.test3-bottom{border-width:50px 260px 0 0}
.our-happy img{margin-bottom:9px}
.wei{margin-bottom:25px}
.fourhead h1{font-size:30px!important}
.our-happy{padding:48px 0 30px}
.wdarea img{margin:0 18px 0 0;width:50px;height:50px}
.wdte{margin-top:4px}
.wdarea{padding:48px 0 25px}
.ibanner-registration{padding:5px 0 10px}
.ibhead01{margin:-19px 0 0 0}
.frarea{margin:25px 0 0 0}
.regbg{padding:35px 10px}
.regbg h1{font-size:34px!important}
.signbt1{margin-bottom:27px}
.ibanner-signin{padding:5px 0 10px}
.joinbg{padding:34px 10px}
.joinbg h1{font-size:35px!important}
.plm{padding-left:15px!important}
.prh{padding-right:0!important}
.plh{padding-left:0!important}
.prm{padding-right:15px!important}
.seotable2{width:100%!important}
.tba{margin-top:-2px}
.seop{height:112px}
.seop .seohead{font-size:19px}
.seologo{margin:0}
.seotable1 td{text-transform:capitalize;padding:7px 0;font-size:11px;line-height:16px;font-weight:500}
.seotable1{width:98%}
.seotable2 td{line-height:22px;padding:4px 0;font-size:12px}
.custom-scroll{height:213px}
.seop{margin-top:20px}
.ibanner-team{padding:5px 0 10px}
.teambox{margin:0 0 20px -1px}
.teamup2{margin-top:14px;padding:0}
.teamb h1{font-size:23px!important}
.persondetail{height:276px}
.teamup1{padding-right:0}
.teamb .close{left:5px}
.ibanner-clients{padding:5px 0 10px}
.ibanner-whywebpulse{padding:5px 0 10px}
.testlogo{bottom:-125px;right:0}
.testquote{width:100%;float:left;padding:34px 10px 0;margin:130px 0 10px 0;height:44px}
.testboc p{padding-left:0;width:109%;height:200px;overflow:scroll;line-height:25px;font-size:15px;padding-right:20px}
.testname{color:#1178ba;font-size:20px;font-family:'Poppins',sans-serif;font-weight:normal;padding-top:15px;margin:0 0 0 -15px}
.testname{margin:0 0 0 -15px}
h1 strong{font-size:35px;width:100%!important;display:block}
.p1{left:22px}
.p2{left:22px}
.p3{left:22px}
.p4{left:22px}
.awardlogo3{margin:5px 0 20px 0;width:100%}
.inreview{margin-top:15px}
.portbig .screenshot{height:230px}
.portbig{margin-bottom:0}
.porpoints{margin:25px 0 0 0;margin-left:0}
.porpoin{margin:0 0 29px 0}
.ph2{padding-bottom:9px!important}
.vpro{padding:12px 18px 20px;margin:5% 0 0 0;top:50%;text-decoration:none}
.arrow-big{margin:-35px 0 0 30px}
.bline2{margin:30px 0 31px 0}
.portt01{width:14%}
.portt02{width:74%}
.portt03{width:10%}
.courseright{padding-left:15px;margin-top:25px}
.listmenu2 li{width:100%}
.listmenu2 li{margin:8px 0 8px}
.courseibox{padding-left:0;padding-right:0}
.ibanner-marketingblog{padding:5px 0 10px}
.blogbox1 .imgarea{height:auto}
.blogbox1 h1{font-size:27px!important}
.blogbox1 h1 span{font-size:27px!important}
.combox{margin:8px 0 0 0}
.blogbox1{margin-bottom:35px}
.postarea .datear2{padding-right:17px;margin-top:0;text-align:left;float:left;margin-right:0;padding:0;color:#333}
.postarea h1{font-size:30px!important}
.postarea h1 span{font-size:30px!important}
.combox2{width:100%}
.mmiddle{width:100%;text-align:center}
.bdi{float:left}
.fix{margin-top:35px}


.mplh{padding-left:0!important}
.mprh{padding-right:0!important}
.careerform h1{font-size:18px!important;margin-top:14px}
.attachedar{height:auto}
.attachinput{width:115%;margin:0 0 10px -40px}
.socialimg{margin:0}
.vidte{height:200px}
.vid1{height:200px}
.vidhead{padding:0 30px}
.vidhead a{font-size:19px}
.textvid{font-size:38px;width:65px;height:65px;line-height:65px}
.textvid i{margin-top:13px}

.award-inner1{margin:228px 0 0 25px;width:85%}
.award-inner01{padding:0 0 0 26px;line-height:34px}
.year1{font-size:36px;margin:72% 12px 0 0;right:0}
.award01 h1{font-size:33px!important;padding:0 0 20px 0!important}
.award02{background:#cec7f0 url(../images/award02.jpg) top left/190% no-repeat;font-size:20px;height:auto;padding-bottom:25px}
.award-inner2{margin:228px 25px 0 0;width:85%}
.award-inner02{padding:0 26px 0 0;line-height:34px}
.year2{font-size:36px;margin:72% 12px 0 0;right:0}
.award02 h1{font-size:33px!important;padding:0 0 20px 0!important;text-align:left}

.award-inner3{margin:228px 0 0 25px;width:85%}
.award-inner03{padding:0 0 0 26px;line-height:34px}
.year3{font-size:36px;margin:72% 12px 0 0;right:0}
.award03 h1{font-size:33px!important;padding:0 0 20px 0!important;text-align:left}
.ibanner-award{padding:5px 0 10px}
.ibanner-newsevents{padding:5px 0 10px}
.dl-menuwrapper li .dl-submenu{overflow:scroll;height:auto;max-height:360px}
.ibanner-social{padding:5px 0 10px}
.ibanner-career{padding:5px 0 10px}
.thummob{float:left;width:228px}
.arrowblue{left:42%;top:96%;transform:rotate(90deg)!important}
.og-grid li>a,.og-grid li{width:100%;float:left}
.og-expander{height:754px!important}
.og-details h3{margin-top:-20px}
.og-fullimg{height:255px!important}
.elastislide-horizontal ul{width:200%}
.elastislide-horizontal ul li{width:15.9%;margin:0;padding:0;float:left!important;display:block!important}
.elastislide-carousel{overflow:hidden;position:relative;height:auto!important}
.wagwep-container ul#portfolio-filter li{padding:0}
nav#porfolio-nav{margin-top:-10px}
.wagwep-container ul#portfolio-filter a{padding:6px 12px 6px 0}
}